.nav {
  background-color: orangered;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/* introducing global css flies in css modules */

/* .test {
  background-color: red;
} */

/* instead of doing it this way and exporting  */

.nav :global(.active) {
  background-color: green;
}

:global(.test) {
  background-color: red;
}
